{
  "endOfLine": "lf",
  "printWidth": 85,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "semi": true,
  "experimentalTernaries": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "",
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]",
    "",
    "^@/config(.*)$",
    "",
    "^@/actions(.*)$",
    "",
    "^@/schema(.*)$",
    "",
    "^@/server(.*)$",
    "",
    "^@/providers(.*)$",
    "",
    "^@/lib(.*)$",
    "",
    "^@/assets(.*)$",
    "",
    "^@/components(?!/ui)(.*)$",
    "",
    "^@/components/ui(.*)$",
    "",
    "<TYPES>",
    "",
    "<TYPES>^[.]",
    "",
    "^@/types(.*)$",
    "",
    "^(?!.*[.]css$)[./].*$",
    "",
    ".css$",
    ""
  ]
}
